<div id="home">
  <div class="jumbotron">
    <div class="container">
      <h2>为什么有这个？</h2>
      <div class="content">
        <p><a href="http://rubygems.org" target="_blank">RubyGems</a> 一直以来在国内都非常难访问到，在本地你或许可以翻墙，当你要发布上线的时候，你就很难搞了！</p>
      </div>

      <div class="sync_info">
        这是一个完整 <a href="https://rubygems.org" target="_blank">RubyGems</a> 镜像，你可以用此代替官方版本，我们是基于国内 CDN + 国外服务器的方式，能确保几乎无延迟的同步。<br />
      </div>
    </div>
  </div>

  <div class="container">
    <h5 class="clearfix">
      如何使用？
      <span class="pull-xs-right"><a href="/add_spec" class="btn btn-outline-warning">手工同步...</a></span>
    </h5>

    <p>请尽可能用比较新的 RubyGems 版本，建议 2.6.x 以上。</p>

<div class="highlight">
<pre><span class="nv">$ </span>gem update --system # 这里请翻墙一下
<span class="nv">$ </span>gem -v
2.6.3</pre>
</div>


<div class="highlight">
<pre><span class="nv">$ </span>gem sources --add https://gems.ruby-china.org/ --remove https://rubygems.org/
<span class="nv">$ </span>gem sources -l
https://gems.ruby-china.org
<span class="c"># 确保只有 gems.ruby-china.org</span>
</div>


    <h5>如果你使用 Gemfile 和 Bundler (例如：Rails 项目)</h5>
    <p>你可以用 Bundler 的 <a href="http://bundler.io/v1.5/bundle_config.html#gem-source-mirrors">Gem 源代码镜像命令</a>。</p>

<div class="highlight">
<pre><code><span class="nv">$ </span>bundle config mirror.https://rubygems.org https://gems.ruby-china.org</code></pre>
</div>

    <p>这样你不用改你的 Gemfile 的 source。</p>
<div class="highlight">
<pre><span class="n">source</span> <span class="s1">'https://rubygems.org/'</span>
<span class="n">gem</span> <span class="s1">'rails'</span><span class="p">,</span> <span class="s1">'4.2.5'</span>
<span class="o">.</span><span class="n">.</span><span class="o">.</span></pre>
</div>

    <h5>SSL 证书错误</h5>
    <p>正常情况下，你是不会遇到 SSL 证书错误的，除非你的 Ruby 安装方式不正确。</p>
    <p>如果遇到 SSL 证书问题，你又无法解决，请修改 <code>~/.gemrc</code> 文件，增加 <code>ssl_verify_mode: 0</code> 配置，以便于 RubyGems 可以忽略 SSL 证书错误。</p>
<div class="highlight">
<pre>---
:sources:
- https://gems.ruby-china.org
:ssl_verify_mode: 0</pre>
</div>
    <p>如果你在意 Gem 下载的安全问题，请正确安装 Ruby、OpenSSL，建议部署 Linux 服务器的时候采用 <a href="https://github.com/huacnlee/init.d/blob/master/install_rvm" target="_blank">这个 RVM 安装脚本</a> 的方式安装 Ruby。</p>

    <h5>其他说明</h5>
    <ul class="faq">
      <li><code>Bundler::GemspecError: Could not read gem at /home/xxx/.rvm/gems/ruby-2.1.8/cache/rugged-0.23.3.gem. It may be corrupted.</code>，这类错误是网络原因下载到了坏掉的文件到本地，请直接删除那个文件。</li>
      <li>请珍惜社区资源，勿基于本镜像做二次镜像网站，我们会定期检查 CDN 请求量统计，单日请求量过大（流量超过 20G） 的 IP 将会被永久屏蔽。</li>
    </ul>
  </div>
</div>
