<!DOCTYPE html>
<html>
  <head>
    <title>RubyGems 镜像 - Ruby China</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="https://ruby-china-files.b0.upaiyun.com/photo/2016/cd153c65cfd382d6898ba6a82e189599.png" />
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="keywords" content="Ruby Gems, Gem, RubyGems 中国, RubyGems 镜像, Gem 镜像" />
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery_ujs.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="mainbox">
      <div class="header">
        <h1>RubyGems 镜像<i>- <span class='r'>Ruby</span> <span class='c'>China</span></i></h1>
      </div>

      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        本服务由 <a href="https://ruby-china.org">Ruby China</a> 社区专注维护，服务器以及 CDN 资源分别由 <a href="https://www.qcloud.com?ref=gems-ruby-china" target="_blank">腾讯云</a>，<a href="https://www.upyun.com?ref=gems-ruby-china">又拍云</a> 赞助支持！ 如遇到问题请在 <a href="https://github.com/ruby-china/rubygems-mirror/issues">GitHub</a> 提交一个 Issue.
      </div>
      <div class="logos">
        <a href="https://ruby-china.org" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/edafbc70e706f76f7ddc59fb4694fb86.png" /></a>

        <a href="https://www.qcloud.com?ref=gems-ruby-china" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/f208216ee702b4234722363453e66d08.png" /></a>

        <a href="https://www.upyun.com?ref=gems-ruby-china" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/09de95c3f5072dbf029480865756a121.png" /></a>
      </div>
    </footer>
  </body>
</html>
